.popup-box {
    position: fixed;
    /*background: #00000050;*/
    width: 10%;
    height: 10vh;
    top: 0;
    right: 0;
}

.box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 50vh;
    margin-top: calc(100vh - 85vh - 20px);
    background:  #fff;
    border-radius: 4px;
    padding: 19px;
    border: 1px solid #999;
    overflow: auto;
}