.nav-menu {
    background-color: white;
    border-right: 2px solid #d2dde4;
    width: 140px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 30px;
    left: -100%;
    transition: 850ms;
    z-index: 10;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-menu-items {
    width: 100%;
}

.sidebar-link {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    list-style: none;
    height: 20px;
    text-decoration: none;
    font-size: 16px;
}

.sidebar-link:hover {
    background-color: #4DA8DB;
    cursor: pointer;
}

.dropdown-link {
  background-color: white;
  height: 30px;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.dropdown-link:hover {
    background-color: #4DA8DB;
    cursor: pointer;

}

span {
    margin-left: 8px;
}

.profile-menu {
    background-color: rgb(201, 201, 195);
    width: 110px;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 30px;
    right: -100%;
    transition: 850ms;
}

.profile-menu.active {
    right: 0;
    transition: 350ms;
}

.profile-menu-items {
    width: 100%;
    padding-left: 20px;
}

span{
    margin-right: 4px;
}




